@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
  html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline; }

html
{ line-height:1; }

ol,ul
{ list-style:none; }

a img
{ border:none; }

@font-face
{ src:url(/assets/meta-serif-webfont-0c954ded84f4c90de4546fb14307342d.eot);
  src:url(/assets/meta-serif-webfont.eot?#iefix) format('eot'),url(/assets/meta-serif-webfont-c7cf2d6eabb5cdd71980ef4b772d9c55.woff) format('woff'),url(/assets/meta-serif-webfont-168840a8002cfa597c67e0c1199cfb8c.ttf) format('truetype'),url(/assets/meta-serif-webfont.svg#helveticaregular) format('svg');
  font-family:"helveticaregular";
  font-weight:normal;
  font-style:normal; }

@font-face
{ src:url(/assets/meta-serif-bold-webfont-f3836c7045e3038d504f82fa1b476e6a.eot);
  src:url(/assets/meta-serif-bold-webfont.eot?#iefix) format('eot'),url(/assets/meta-serif-bold-webfont-f4bb1affef5499f279a2bcfacebc48dd.woff) format('woff'),url(/assets/meta-serif-bold-webfont-4de94a3379ce904a677cfea15be95fc6.ttf) format('truetype'),url(/assets/meta-serif-bold-webfont.svg#helveticabold) format('svg');
  font-family:"helveticabold";
  font-weight:normal;
  font-style:normal; }

.intro
{ width:100%;
  height:780px;
  background:#fafafa; }

.intro h1
{ font:300 24px/32px "Helvetica",Arial,Sans-Serif;
  color:#2c5ec3;
  width:601px;
  position:relative;
  left:10px;
  margin:0 auto;
  padding-top:200px; }

.intro h1 .name
{ font:400 87px/102px "helveticaregular",Georgia,Serif;
  margin:10px 0 0 -10px;
  color:#373333; }

.intro h2
{ font:300 24px/32px "Helvetica",Arial,Sans-Serif;
  color:#2c5ec3;
  width:601px;
  margin:32px auto; }

.intro nav#sites
{ position:fixed;
  top:30px;
  left:30px; }

.intro nav#sites ul li
{ margin-bottom:30px; }

.intro nav#sites ul li a
{ font:300 11px/16px "Helvetica",Arial,Sans-Serif;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
  text-decoration:none;
  color:rgba(55,51,51,0);
  position:relative;
  padding-left:10px; }

.intro nav#sites ul li a:before
{ content:'';
  background:#c6c7ca;
  position:absolute;
  display:block;
  left:-15px;
  top:-2px;
  width:15px;
  height:15px; }

.intro nav#sites ul li a.current:before
{ background:#373333; }

.intro nav#sites ul li a:hover
{ color:#373333; }

.intro nav#sites ul li a:hover:before
{ background:#373333; }

.intro p
{ font:300 15px/24px "Helvetica",Arial,Sans-Serif;
  -webkit-font-smoothing:antialiased;
  width:601px;
  margin:0 auto; }

ul#goodstuff li
{ height:780px;
  overflow:hidden;
  *zoom:1; }

ul#goodstuff li:nth-child(even)
{ background:#fafafa; }

ul#goodstuff li:nth-child(odd)
{ background:#2c5ec3; }

ul#goodstuff li .site
{ width:1095px;
  margin:0 auto;
  padding-top:100px; }

ul#goodstuff li .site .meta
{ display:inline;
  float:left;
  width:600px;
  padding-right:25px; }

ul#goodstuff li .site .meta h2
{ font:400 48px/64px "helveticaregular",Georgia,Serif;
  margin:0 0 25px 0; }

ul#goodstuff li .site .meta p
{ font:300 15px/24px "Helvetica",Arial,Sans-Serif;
  width:300px; }

ul#goodstuff li#about h1
{ font:400 48px/64px "helveticaregular",Georgia,Serif;
  padding-top:140px;
  margin-bottom:50px; }


ul#goodstuff li#contact-us form p input[type=submit]
{ font:600 18px/28px "helveticaregular",Georgia,Serif;
  width:400px;
  padding:10px 0;
  border:none;
  color:#fafafa;
  cursor:pointer; }

ul#goodstuff li#contact-us form p input[type=submit]:hover
{ background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#173267),color-stop(50%,#173267),color-stop(51%,#152c5b),color-stop(100%,#152c5b));
  background:-webkit-linear-gradient(top,#173267,#173267 50%,#152c5b 51%,#152c5b 100%);
  background:-moz-linear-gradient(top,#173267,#173267 50%,#152c5b 51%,#152c5b 100%);
  background:-o-linear-gradient(top,#173267,#173267 50%,#152c5b 51%,#152c5b 100%);
  background:linear-gradient(top,#173267,#173267 50%,#152c5b 51%,#152c5b 100%); }

ul#goodstuff li#contact-us form p input[type=submit]:active
{ background:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#132853),color-stop(50%,#132853),color-stop(51%,#102246),color-stop(100%,#102246));
  background:-webkit-linear-gradient(top,#132853,#132853 50%,#102246 51%,#102246 100%);
  background:-moz-linear-gradient(top,#132853,#132853 50%,#102246 51%,#102246 100%);
  background:-o-linear-gradient(top,#132853,#132853 50%,#102246 51%,#102246 100%);
  background:linear-gradient(top,#132853,#132853 50%,#102246 51%,#102246 100%); }

ul#goodstuff li#contact-us form p .notification
{ text-align:center;
  font-size:13px;
  padding:8px;
  background:#7598e0; }

@media all and (max-width:1150px)
{ .intro
{ height:475px; }
