@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
@font-face {
    font-family: "helveticaregular";
    src: url(/assets/meta-serif-webfont-0c954ded84f4c90de4546fb14307342d.eot);
    src: url(/assets/meta-serif-webfont.eot?#iefix) format('eot'), url(/assets/meta-serif-webfont-c7cf2d6eabb5cdd71980ef4b772d9c55.woff) format('woff'),  url(/assets/meta-serif-webfont-168840a8002cfa597c67e0c1199cfb8c.ttf) format('truetype'),  url(/assets/meta-serif-webfont.svg#helveticaregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helveticabold";
    src: url(/assets/meta-serif-bold-webfont-f3836c7045e3038d504f82fa1b476e6a.eot);
    src: url(/assets/meta-serif-bold-webfont.eot?#iefix) format('eot'), url(/assets/meta-serif-bold-webfont-f4bb1affef5499f279a2bcfacebc48dd.woff) format('woff'),  url(/assets/meta-serif-bold-webfont-4de94a3379ce904a677cfea15be95fc6.ttf) format('truetype'),  url(/assets/meta-serif-bold-webfont.svg#helveticabold) format('svg');
    font-weight: normal;
    font-style: normal;
}
.intro {
    width: 100%;
    height: 780px;
    background: #fafafa;
}
.intro h1 {
    font: 300 24px/32px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    color: #2c5ec3;
    width: 601px;
    position: relative;
    left: 10px;
    margin: 0 auto;
    padding-top: 200px;
}
.intro h1 .name {
    font: 400 87px/102px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    margin: 10px 0 0 -10px;
    color: #373333;
}
.intro h2 {
    font: 300 24px/32px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    color: #2c5ec3;
    width: 601px;
    margin: 32px auto;
}
.intro nav#sites {
    position: fixed;
    top: 30px;
    left: 30px;
}
.intro nav#sites ul li {
    margin-bottom: 30px;
}
.intro nav#sites ul li a {
    font: 300 11px/16px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: rgba(55, 51, 51, 0);
    position: relative;
    padding-left: 10px;
}
.intro nav#sites ul li a:before {
    content: '';
    background: #c6c7ca;
    position: absolute;
    display: block;
    left: -15px;
    top: -2px;
    width: 15px;
    height: 15px;
}
.intro nav#sites ul li a.current:before {
    background: #373333;
}
.intro nav#sites ul li a:hover {
    color: #373333;
}
.intro nav#sites ul li a:hover:before {
    background: #373333;
}
.intro p {
    font: 300 15px/24px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    width: 601px;
    margin: 0 auto;
}
.intro p a {
    color: #2c5ec3;
}
.intro nav#links {
    display: none;
}
ul#work li {
    height: 780px;
    overflow: hidden;
    *zoom: 1;
}
ul#work li:nth-child(even) {
    background: #fafafa;
}
ul#work li:nth-child(even) a {
    color: #2c5ec3;
}
ul#work li:nth-child(odd) {
    background: #2c5ec3;
}
ul#work li:nth-child(odd) a {
    color: #fafafa;
}
ul#work li a {
    text-decoration: none;
}
ul#work li a .site {
    width: 1095px;
    margin: 0 auto;
    padding-top: 185px;
}
ul#work li a .site .meta {
    display: inline;
    float: left;
    width: 435px;
    padding-right: 25px;
}
ul#work li a .site .meta h2 {
    font: 400 48px/64px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 25px 0;
}
ul#work li a .site .meta p {
    font: 300 15px/24px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
}
ul#work li a .site .imac {
    display: inline;
    float: left;
    position: relative;
}
ul#work li a .site .imac img:nth-child(2) {
    position: absolute;
    left: 25px;
    top: 29px;
    height: 326px;
    width: 584px;
}
ul#work li#about {
    background: #fafafa;
    color: #373333;
    text-align: center;
}
ul#work li#about h1 {
    font: 400 48px/64px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 140px;
    margin-bottom: 50px;
}
ul#work li#about .bio {
    width: 960px;
    margin: 0 auto;
}
ul#work li#about .bio img {
    display: inline;
    float: left;
    margin-right: 50px;
}
ul#work li#about .bio p {
    display: inline;
    float: left;
    font: 300 15px/26px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    width: 610px;
}
ul#work li#about .bio p:first-child {
    margin-right: 25px;
}
ul#work li#about .bio p a {
    color: #2c5ec3;
    text-decoration: underline;
}
ul#work li#contact {
    background: #2c5ec3;
    color: #fafafa;
    text-align: center;
}
ul#work li#contact h1 {
    font: 400 48px/64px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 100px;
}
ul#work li#contact h2 {
    font: 400 15px/36px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 25px;
}
ul#work li#contact form {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}
ul#work li#contact form label {
    font: 300 15px/23px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    display: block;
    text-align: center;
    color: #d91828;
    margin-bottom: 25px;
}
ul#work li#contact form p {
    margin-bottom: 25px;
}
ul#work li#contact form p input[type=text], ul#work li#contact form p input[type=email] {
    font: 300 15px/24px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
    color: #373333;
    width: 380px;
    padding: 10px;
    border: none;
}
ul#work li#contact form p input[type=text].placeholder, ul#work li#contact form p input[type=email].placeholder {
    color: #9f9797;
}
ul#work li#contact form p input[type=text]:-moz-placeholder, ul#work li#contact form p input[type=email]:-moz-placeholder {
    color: #9f9797;
}
ul#work li#contact form p input[type=text]::-webkit-input-placeholder, ul#work li#contact form p input[type=email]::-webkit-input-placeholder {
    color: #9f9797;
}
ul#work li#contact form p input[type=text].error, ul#work li#contact form p input[type=email].error {
    outline: 1px solid #d91828;
}
ul#work li#contact form p textarea {
    font: 300 15px/24px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    background: #fafafa;
    color: #373333;
    border: none;
    padding: 10px;
    width: 380px;
    height: 100px;
    resize: none;
}
ul#work li#contact form p textarea.placeholder {
    color: #9f9797;
}
ul#work li#contact form p textarea:-moz-placeholder {
    color: #9f9797;
}
ul#work li#contact form p textarea::-webkit-input-placeholder {
    color: #9f9797;
}
ul#work li#contact form p textarea.error {
    outline: 1px solid #d91828;
}
ul#work li#contact form p input[type=submit] {
    font: 600 18px/28px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #1c3c7c),  color-stop(50%,  #1c3c7c),  color-stop(51%,  #193670),  color-stop(100%,  #193670));
    background: -webkit-linear-gradient(top,  #1c3c7c, #1c3c7c 50%, #193670 51%, #193670 100%);
    background: -moz-linear-gradient(top,  #1c3c7c, #1c3c7c 50%, #193670 51%, #193670 100%);
    background: -o-linear-gradient(top,  #1c3c7c, #1c3c7c 50%, #193670 51%, #193670 100%);
    background: linear-gradient(top,  #1c3c7c, #1c3c7c 50%, #193670 51%, #193670 100%);
    width: 400px;
    padding: 10px 0;
    border: none;
    color: #fafafa;
    cursor: pointer;
}
ul#work li#contact form p input[type=submit]:hover {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #173267),  color-stop(50%,  #173267),  color-stop(51%,  #152c5b),  color-stop(100%,  #152c5b));
    background: -webkit-linear-gradient(top,  #173267, #173267 50%, #152c5b 51%, #152c5b 100%);
    background: -moz-linear-gradient(top,  #173267, #173267 50%, #152c5b 51%, #152c5b 100%);
    background: -o-linear-gradient(top,  #173267, #173267 50%, #152c5b 51%, #152c5b 100%);
    background: linear-gradient(top,  #173267, #173267 50%, #152c5b 51%, #152c5b 100%);
}
ul#work li#contact form p input[type=submit]:active {
    background: -webkit-gradient(linear,  50% 0%,  50% 100%,  color-stop(0%,  #132853),  color-stop(50%,  #132853),  color-stop(51%,  #102246),  color-stop(100%,  #102246));
    background: -webkit-linear-gradient(top,  #132853, #132853 50%, #102246 51%, #102246 100%);
    background: -moz-linear-gradient(top,  #132853, #132853 50%, #102246 51%, #102246 100%);
    background: -o-linear-gradient(top,  #132853, #132853 50%, #102246 51%, #102246 100%);
    background: linear-gradient(top,  #132853, #132853 50%, #102246 51%, #102246 100%);
}
ul#work li#contact form p .notification {
    text-align: center;
    font-size: 13px;
    padding: 8px;
    background: #7598e0;
}
#admin h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}
#admin h2 {
    margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
}
#admin ul#messages li {
    margin-bottom: 15px;
}
.blog {
    background: #fafafa;
    color: #373333;
    font-family: "helveticaregular", Georgia, Serif;
    padding: 50px 0;
}
.blog a {
    color: #2c5ec3;
}
.blog h1 {
    font: 400 87px/108px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.blog h1 a {
    color: #373333;
    text-decoration: none;
}
.blog h1 a:hover {
    color: #2c5ec3;
}
.blog h2 {
    font: 300 18px/24px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.blog .container {
    width: 600px;
    margin: 0 auto;
}
.blog .container header {
    margin: 100px 0 50px 0;
}
.blog .container header h1 {
    font: 400 48px/64px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
.blog .container header h1 a {
    color: #373333;
    text-decoration: none;
}
.blog .container header h1 a:hover {
    color: #2c5ec3;
}
.blog .container header h2 {
    font: 400 14px/20px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
}
.blog .container .body {
    font: 400 15px/24px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
.blog .container .body p {
    margin-bottom: 15px;
}
@media all and (max-width: 1150px) {
    .intro {
    height: 475px;
}
.intro h1 {
    padding-top: 50px;
}
ul#work li {
    height: 800px;
}
ul#work li a .site {
    width: 100%;
    padding-top: 50px;
}
ul#work li a .site .meta {
    float: none;
    width: auto;
}
ul#work li a .site .meta h2 {
    text-align: center;
}
ul#work li a .site .meta p {
    margin: 0 auto 25px;
    text-align: center;
    width: 600px;
}
ul#work li a .site .imac {
    float: none;
    display: block;
    width: 633px;
    margin: 0 auto;
}
ul#work li a .site .imac img:nth-child(1) {
    position: absolute;
}
ul#work li#contact {
    height: 500px;
    padding-top: 50px;
}
ul#work li#contact h1 {
    padding-top: 0;
}
}@media all and (max-width: 1000px) {
    ul#work li#about {
    height: auto;
}
ul#work li#about h1 {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto 50px;
}
ul#work li#about .bio {
    width: 100%}
ul#work li#about .bio img {
    float: none;
    display: block;
    width: 300px;
    margin: 0 auto 25px;
}
ul#work li#about .bio p {
    float: none;
    display: block;
    width: 80%;
    margin: 0 auto 50px;
}
}@media all and (max-width: 801px) {
    .intro h1 {
    width: 400px;
}
.intro h1 .name {
    font: 400 60px/72px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
}
.intro h2 {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}
.intro p {
    width: 400px;
}
ul#work li {
    height: 625px;
}
ul#work li a .site .meta p {
    width: 400px;
}
ul#work li a .site .imac {
    width: 400px;
}
ul#work li a .site .imac img:nth-child(1) {
    width: 400px;
}
ul#work li a .site .imac img:nth-child(2) {
    left: 16px;
    top: 19px;
    width: 370px;
    height: 206px;
}
ul#work li#about h1 {
    font: 400 32px/48px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
ul#work li#about .bio img {
    width: 200px;
}
}@media screen and (max-width: 480px) {
    .intro {
    height: 450px;
}
.intro h1 {
    font: 300 20px/28px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
}
.intro h1 .name {
    font: 400 46px/54px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
.intro h2 {
    font: 300 20px/28px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
    margin: 10px auto;
}
.intro p {
    width: 300px;
}
.intro nav#sites {
    display: none;
}
ul#work li {
    height: 575px;
}
ul#work li a .site .meta h2 {
    font: 400 32px/40px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
    margin: 0 auto 25px;
}
ul#work li a .site .meta p {
    width: 300px;
}
ul#work li a .site .imac {
    width: 300px;
}
ul#work li a .site .imac img:nth-child(1) {
    width: 300px;
}
ul#work li a .site .imac img:nth-child(2) {
    left: 12px;
    top: 14px;
    width: 277px;
    height: 156px;
}
ul#work li#about h1 {
    font: 400 32px/48px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
ul#work li#about .bio img {
    width: 200px;
}
ul#work li#about .bio p {
    width: 70%}
ul#work li#contact {
    height: 450px;
}
ul#work li#contact h1 {
    font: 400 32px/40px "helveticaregular", Georgia, Serif;
    -webkit-font-smoothing: antialiased;
}
ul#work li#contact h2 {
    font: 400 11px/17px "Helvetica", Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    width: 300px;
    margin: 10px auto;
}
ul#work li#contact form {
    width: 100%}
ul#work li#contact form p input[type=text], ul#work li#contact form p input[type=submit], ul#work li#contact form p input[type=email], ul#work li#contact form p textarea {
    width: 70%;
    margin: 0 auto 15px;
    display: block;
    padding: 10px;
}
ul#work li#contact form p input[type=submit] {
    width: 75%}
}
